.Home-page {
  height: 100%;
  #home {
    width: 100%;
    height: 100%;
    .test-sticky-div {
      position: relative;
      width: 100%;
      height: auto;
      border: 1px solid #ccc;
      overflow-y: auto;
      box-sizing: border-box;
      >.item {
        position: relative;
        width: 100%;
        >p {
          /* position: -webkit-sticky;
          position: sticky;
          top: 0; */
          width: 100%;
          background-color: #666;
          color: #ffffff;
          &.sticky {
            position: -webkit-sticky;
            position: sticky;
            top: 0;
            left: 0;
          }
          &.absolute {
            position: absolute;
            top: 0;
            left: 0;
          }
          &.relative {
            position: relative;
            top: 0;
            left: 0;
          }
          &.fixed {
            position: fixed;
            top: 0;
            left: 0;
          }
        }
      }
    }
  }
}